body {
	grid-template-rows: auto auto 1fr auto;
}
#home-link {
	background-color: black;
	display: block;
	text-align: center;
	padding: 0.4em;
	color: white;
	transition: 0.3s;
}

#home-link:hover {
	opacity: 50%;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

section h2 {
	align-self: f;
}

.section-wrapper {
	height: 100%;
	width: min(90vw, 800px);
}
