body {
	font-family: "Roboto", sans-serif;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

nav a {
	text-align: center;
	display: block;
	width: 100%;
	padding: 1em;
	background-color: black;
	text-decoration: none;
	color: white;
	transition: 0.2s;
}

nav a:hover {
	background-color: purple;
}
