@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Roboto+Mono:wght@500&display=swap");

* {
	box-sizing: border-box;
}
html {
	height: 100vh;
}

body {
	font-family: "Merriweather Sans", sans-serif;
}

button {
	font-family: "Roboto Mono", monospace;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

body section {
	border: solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-width: 500px;
	min-height: 500px;
	padding: 1em;
}

/***********************TASK VIEW***********************/
.task-view {
	width: 100%;
	border: solid black;
}

h2 {
	display: flex;
	justify-content: center;
}

/***********************Task Items***********************/
.tasks {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.tasks li {
	border-bottom: solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

input[type="checkbox"] {
	margin-right: 1em;
}

/***********************FILTERS***********************/
.filters {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

/***********************ADD TASK***********************/
section form {
	width: 100%;
	display: flex;
	align-items: center;
}

form label {
	flex-grow: 1;
}

form button {
	margin-left: 0.2em;
}

#task-input {
	width: 100%;
}
