@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Roboto+Mono:wght@500&display=swap");

* {
	box-sizing: border-box;
}
html {
	height: 100vh;
}

body {
	font-family: "Merriweather Sans", sans-serif;
}

button {
	font-family: "Roboto Mono", monospace;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

body section {
	border: solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-width: 500px;
	min-height: 500px;
	padding: 1em;
}

/***********************TASK VIEW***********************/
.task-view {
	width: 100%;
	border: solid black;
}

h2 {
	display: flex;
	justify-content: center;
}

/***********************Task Items***********************/
#tasks {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#tasks li {
	border-bottom: solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

input[type="checkbox"] {
	margin-right: 1em;
}

/***********************FILTERS***********************/

.filters-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
}

#filters {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
}

/***********************ADD TASK***********************/
#addTask {
	width: 100%;
	display: flex;
	align-items: center;
}

#addTask label {
	flex-grow: 1;
}

#addTask button {
	margin-left: 0.2em;
}

#taskInput {
	width: 100%;
}

.edit,
.delete {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.2em;
}

.note-btns {
	display: flex;
}

img {
	width: 15px;
	height: 15px;
}

/***********************EDIT TASK***********************/
.edit-popup {
	display: flex;
	min-height: 10em;
}

#editTask,
.edit-btns,
#editInput {
	width: 100%;
}

.edit-btns {
	display: flex;
	justify-content: center;
}

.update-task,
.cancel {
	margin: 0.2em;
}

.hide {
	display: none;
}

.edit-img {
	pointer-events: none;
}
